.card-container {
  background-color: white;
  max-width: 22rem;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  box-shadow: 0 1rem 1.5rem rgba(1, 1, 1, 0.2);
  text-align: left;
  border-radius: 0.6rem;
}

.card-img {
  object-fit: cover;
  height: 20rem;
  border-radius: 0.6rem;
}

.card-header {
  font-size: 1.2rem;
  padding-left: 1rem;
  color: #004f71;
}

.card-text {
  color: #7d7d7d;
  padding-left: 1rem;
}

.card-link {
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-weight: 700;
  color: #004f71;
}
